<!-- Actions -->
<input type="button" id="new_auction" value="Create New Auction">

<div style="padding:5px;"></div>

<!-- Bidding Tiles -->
{% for row in auction_rows %}
	<!--<li data-id="{{row.auction_id}}">
		{{row.name}}
		($<span class="price">{{row.price}}</span>)
		<span class="end_time" data-end-time="{{row.end_time}}"></span>
		<span class="highest_bidder">{{row.username}}</span>
		<input type="button" class="button_bid" value="Bid!">
	</li>-->
	{% include "includes/bid-window.html" %}
{% endfor %}