RewriteEngine On
RewriteBase /

#Redirect everything to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?/$1 [L]

#Remove index.php
RewriteCond %{THE_REQUEST} ^GET.*index\.php [NC]
RewriteRule (.*?)index\.php/*(.*) /%1? [R=301,L]

#No Cache
ExpiresActive On
ExpiresDefault "access plus 1 seconds"

#Gzip Compression
php_flag zlib.output_compression on

#Favicon
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^(.*)favicon\.ico$ http://static2.lindenbid.com/images/favicon.ico [R=301,L]

#Cache Favicon
#<FilesMatch "favicon\.ico">
#	ExpiresActive On
#	ExpiresDefault "access plus 4 weeks"
#	Header set Cache-Control "public"
#	RequestHeader unset Cookie
#	Header unset Set-Cookie
#</FilesMatch>