/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'CalibriRegular';
  src: url("../fonts/calibri-webfont.eot");
  src: url("../fonts/calibri-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/calibri-webfont.woff") format("woff"), url("../fonts/calibri-webfont.ttf") format("truetype"), url("../fonts/calibri-webfont.svg#CalibriRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

body {
  background: rgba(0, 0, 0, 0.02);
  font-family: Calibri, Helvetica, sans-serif; }

.container {
  /*border: 1px solid green;*/
  margin: 0 auto;
  max-width: 1018px; }

.sidebar {
  /*border: 1px solid green;*/
  /*	padding: 0 30px;*/
  position: fixed;
  width: 240px; }

.logo {
  background: rgba(0, 0, 0, 0.005);
  margin: 0 15px;
  padding: 90px; }

.nav {
  background: #44aec3;
  border: 1px solid #2e7d8a;
  -webkit-box-shadow: inset 0px 0px 13px 3px rgba(0, 0, 0, 0.18), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -15px 0px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 0px 13px 3px rgba(0, 0, 0, 0.18), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -15px 0px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 0px 13px 3px rgba(0, 0, 0, 0.18), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -15px 0px 0px rgba(0, 0, 0, 0.08);
  /* @include box-shadow((junk, junk2)); */
  padding: 5px 0 9px 0; }
  .nav:before, .nav:after {
    border-top: 10px solid #153236;
    border-left: 10px solid transparent;
    content: "";
    height: 0px;
    left: -1px;
    position: absolute;
    top: 31px;
    width: 0; }
  .nav:after {
    border-top: 10px solid #153236;
    border-right: 10px solid transparent;
    left: 218px; }

.home,
.about,
.help {
  color: #fff;
  font-size: .96em;
  padding: 5px 19px 7px 19px;
  text-decoration: none;
  text-shadow: 0px 2px 0px #3d7d89, 0px -1px 0px #3d7d89;
  text-transform: uppercase; }
  .home:hover,
  .about:hover,
  .help:hover {
    font-weight: bold; }

.home {
  border: 1px solid #2e7d8a;
  -webkit-box-shadow: inset 0px 0px 13px 3px rgba(0, 0, 0, 0.1), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -30px 0px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 0px 13px 3px rgba(0, 0, 0, 0.1), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -30px 0px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 0px 13px 3px rgba(0, 0, 0, 0.1), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -30px 0px 0px rgba(0, 0, 0, 0.08);
  /* @include box-shadow((junk, junk2)); */
  font-weight: bold; }

.user_functions {
  background: #fff;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0px 3px 0px 0px rgba(0, 0, 0, 0.04);
  /* @include box-shadow((junk, junk2)); */
  margin: 0 10px;
  padding: 0 20px; }

.user_functions input {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  /* @include prefix(box-shadow...)*/
  display: block;
  margin: 8px 0; }

.user_functions input[type=text],
.user_functions input[type=password] {
  border: 1px solid #d1d1d1;
  padding: 4px;
  width: 180px; }
  .user_functions input[type=text]:focus,
  .user_functions input[type=password]:focus {
    border: 1px solid #3d7d89;
    -webkit-box-shadow: inset 0px 0px 3px 0px #3e9fb2;
    -moz-box-shadow: inset 0px 0px 3px 0px #3e9fb2;
    box-shadow: inset 0px 0px 3px 0px #3e9fb2;
    /* @include box-shadow((junk, junk2)); */
    outline: 0; }

.user_functions input[type=button],
.user_functions input[type=submit] {
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: .75em;
  padding: 5px; }

.user_fuctions_decor {
  border-left: 105px solid transparent;
  border-right: 105px solid transparent;
  border-top: 28px solid red;
  height: 0;
  width: 0; }

.content {
  margin-left: 252px;
  margin-top: 20px; }

#new_auction {
  float: right; }

.window {
  background: #fff;
  border: 1px solid #d1d1d1;
  -webkit-box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px -2px 6px 0px rgba(0, 0, 0, 0.08);
  /* @include box-shadow((junk, junk2)); */
  color: #333;
  display: inline-block;
  margin: 0 0 12px 8px;
  text-align: center;
  width: 180px; }

.retail,
.highest_bidder {
  font-size: .75em; }

.item_name {
  color: #444;
  display: block;
  font-weight: normal;
  font-size: .9em;
  height: 30px;
  line-height: 0.95em;
  margin: 9px auto 0 auto;
  text-decoration: none; }
  .item_name:hover {
    color: #2c717f; }

img {
  display: block;
  margin: 2px auto 0 auto;
  max-width: 100%; }

.retail {
  color: #a3a3a3;
  top: -2px; }

.end_time {
  background-color: #F6F6F6;
  background: -moz-linear-gradient(top, rgba(234, 234, 234, 0) 30%, rgba(234, 234, 234, 0.14) 50%, rgba(229, 229, 229, 0.5) 99%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(234, 234, 234, 0)), color-stop(50%, rgba(234, 234, 234, 0.14)), color-stop(99%, rgba(229, 229, 229, 0.5)), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, rgba(234, 234, 234, 0) 30%, rgba(234, 234, 234, 0.14) 50%, rgba(229, 229, 229, 0.5) 99%, #e5e5e5 100%);
  background: -o-linear-gradient(top, rgba(234, 234, 234, 0) 30%, rgba(234, 234, 234, 0.14) 50%, rgba(229, 229, 229, 0.5) 99%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, rgba(234, 234, 234, 0) 30%, rgba(234, 234, 234, 0.14) 50%, rgba(229, 229, 229, 0.5) 99%, #e5e5e5 100%);
  background: linear-gradient(top, rgba(234, 234, 234, 0) 30%, rgba(234, 234, 234, 0.14) 50%, rgba(229, 229, 229, 0.5) 99%, #e5e5e5 100%);
  -webkit-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  /* @include box-shadow((junk, junk2)); */
  font-size: 1.3em;
  padding: 2px 0; }
  .end_time:before {
    background: #EAEAEA;
    background: -moz-linear-gradient(left, rgba(234, 234, 234, 0.5) 10%, #eaeaea 50%, rgba(234, 234, 234, 0.5) 90%);
    background: -webkit-gradient(linear, left top, right top, color-stop(10%, rgba(234, 234, 234, 0.5)), color-stop(50%, #eaeaea), color-stop(90%, rgba(234, 234, 234, 0.5)));
    background: -webkit-linear-gradient(left, rgba(234, 234, 234, 0.5) 10%, #eaeaea 50%, rgba(234, 234, 234, 0.5) 90%);
    background: -o-linear-gradient(left, rgba(234, 234, 234, 0.5) 10%, #eaeaea 50%, rgba(234, 234, 234, 0.5) 90%);
    background: -ms-linear-gradient(left, rgba(234, 234, 234, 0.5) 10%, #eaeaea 50%, rgba(234, 234, 234, 0.5) 90%);
    background: linear-gradient(left, rgba(234, 234, 234, 0.5) 10%, #eaeaea 50%, rgba(234, 234, 234, 0.5) 90%);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }

.ending {
  color: red; }

.price {
  color: #333;
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 6px; }

.highest_bidder {
  color: #264e55; }

.button_bid {
  background: #3e9fb2;
  border: 1px solid #3d7d89;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  /* @include prefix(box-shadow...)*/
  -webkit-box-shadow: inset -0.5px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -12px 10px -8px rgba(0, 0, 0, 0.25), 0px 1px 0px 0px #183236;
  -moz-box-shadow: inset -0.5px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -12px 10px -8px rgba(0, 0, 0, 0.25), 0px 1px 0px 0px #183236;
  box-shadow: inset -0.5px 1px 0px 0px rgba(255, 255, 255, 0.35), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px -12px 10px -8px rgba(0, 0, 0, 0.25), 0px 1px 0px 0px #183236;
  /* @include box-shadow((junk, junk2)); */
  color: white;
  cursor: pointer;
  font-size: 1.1em;
  letter-spacing: .08em;
  margin: 10px auto 12px auto;
  padding: 4px 0 3px 0;
  text-shadow: -1px -1px 0px #3d7d89, 1px -1px 0px #3d7d89, -1px 1px 0px #3d7d89, 1px 1px 0px #3d7d89, 0px 2px 0px #37717c;
  width: 58px; }
  .button_bid:hover, .button_bid:focus {
    border: 1px solid #356c77; }
  .button_bid:hover, .button_bid:focus {
    -webkit-box-shadow: inset -0.5px 1.5px 0px 0px rgba(255, 255, 255, 0.4), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.25), inset 0px -12px 10px -8px rgba(0, 0, 0, 0.25), inset 0.5px -1px 0px 0px rgba(0, 0, 0, 0.18), 0px 1px 0px 0px #183236;
    -moz-box-shadow: inset -0.5px 1.5px 0px 0px rgba(255, 255, 255, 0.4), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.25), inset 0px -12px 10px -8px rgba(0, 0, 0, 0.25), inset 0.5px -1px 0px 0px rgba(0, 0, 0, 0.18), 0px 1px 0px 0px #183236;
    box-shadow: inset -0.5px 1.5px 0px 0px rgba(255, 255, 255, 0.4), inset 0px 15px 10px -10px rgba(255, 255, 255, 0.25), inset 0px -12px 10px -8px rgba(0, 0, 0, 0.25), inset 0.5px -1px 0px 0px rgba(0, 0, 0, 0.18), 0px 1px 0px 0px #183236;
    /* @include box-shadow((junk, junk2)); */
    text-shadow: -1px -1px 0px #4996a4, 1px -1px 0px #4996a4, -1px 1px 0px #3a7782, 1px 1px 0px #3a7782; }
  .button_bid:active {
    -webkit-box-shadow: inset -0.5px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px 12px 10px -8px rgba(0, 0, 0, 0.18), inset 0.5px -1px 0px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px 0px #183236;
    -moz-box-shadow: inset -0.5px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px 12px 10px -8px rgba(0, 0, 0, 0.18), inset 0.5px -1px 0px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px 0px #183236;
    box-shadow: inset -0.5px 1px 0px 0px rgba(255, 255, 255, 0.3), inset 0px -15px 10px -10px rgba(255, 255, 255, 0.1), inset 0px 12px 10px -8px rgba(0, 0, 0, 0.18), inset 0.5px -1px 0px 0px rgba(255, 255, 255, 0.05), 0px 1px 0px 0px #183236;
    /* @include box-shadow((junk, junk2)); */
    text-shadow: -1px -1px 0px #40838f, 1px -1px 0px #40838f, -1px 1px 0px #4996a4, 1px 1px 0px #4996a4; }
