.auction {
	background: #fff;
	border: 1px solid #d1d1d1;
	@include box-shadow((inset 0px -2px 6px 0px rgba(0,0,0, .08)));
	color: #333;
	display: inline-block;
	margin:0 6px 10px 0;
	text-align: center;
	width: 160px; /*180, height:270*/
}
.retail,
.highest_bidder {
	font-size: .72em;
}
.item_name {
	color: #444;
	display: block;
	font-weight: normal;
	font-size: .88em;
	height: 30px;
	line-height:  0.95em;
	margin: 7px auto 0 auto;
	padding: 0 6px;
	text-decoration: none;
	
	&:hover {
	  color: $links;
	}
}
img {
	display: block;
	margin: 2px auto 0 auto;
	max-width: 100%;
}
.retail {
	color: #a3a3a3;
	top: -2px;
}
.end_time {
  @include background1;
  @include box-shadow((0px 1px 0px 0px rgba(0,0,0, .1)));
	font-size: 1.1em;
	padding: 3px 0;
	
	&:before {
    @include background2;
		content:"";
		height: 1px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}
.ending {
	color: red;
}
.price {
	color: #333;
	font-weight: bold;
	font-size: 1.7em;
	margin-top: 4px;
	padding: 5px;
}
.highest_bidder a {
	color: #3d666d;
	text-decoration: none;
	
	&:hover {
	  text-decoration: underline;
	}
}
.button_bid {
	background: $btnBase;
	border: 1px solid $bidStroke;
  @include prefix(border-radius, 3px);
  @include box-shadow((
    inset 0px 1px 0px 0px rgba(255,255,255, .35),
    inset 0px 15px 10px -10px rgba(255,255,255, .1),
    inset 0px -12px 10px -8px rgba(0,0,0, .25),
    0px 1px 0px 0px ($bidStroke/2.5)
  ));  
	color: $bidTXT;
	cursor: pointer;
	font-size: 1.04em;
	letter-spacing: .06em;
	margin: 4px auto 10px auto;
	padding: 3px 0;
  text-shadow:
    -1px -1px 0px $bidStroke,
    1px -1px 0px $bidStroke,
    -1px 1px 0px $bidStroke,
    1px 1px 0px $bidStroke,
    0px 2px 0px darken($bidStroke, 5%);
  text-transform: uppercase;
	width: 54px;
	
	&:hover,
	&:focus {
	  border: 1px solid darken($bidStroke, 8%);
    @include box-shadow((
      inset 0px 1px 0px 0px rgba(255,255,255, .4),
      inset 0px 15px 10px -10px rgba(255,255,255, .25),
      inset 0px -12px 10px -8px rgba(0,0,0, .25),
      inset .5px -1px 0px 0px rgba(0,0,0, .18),
      0px 1px 0px 0px darken($bidStroke, 50%)
    ));
		text-shadow:
  		-1px -1px 0px lighten($bidStroke, 2%),
      1px -1px 0px lighten($bidStroke, 2%),
      -1px 1px 0px darken($bidStroke, 1%),
      1px 1px 0px darken($bidStroke, 1%);
	}
	&:active {
		@include box-shadow((
		  inset 0px 1px 0px 0px rgba(255,255,255, .3),
      inset 0px -15px 10px -10px rgba(255,255,255, .1),
      inset 0px 12px 10px -8px rgba(0,0,0, .18),
      inset 0px -1px 0px 0px rgba(255,255,255, .05),
      0px 1px 0px 0px darken($bidStroke, 60%)
    ));
    text-shadow:
      -1px -1px 0px lighten($bidStroke, 2%),
      1px -1px 0px lighten($bidStroke, 2%),
      -1px 1px 0px lighten($bidStroke, 7%),
      1px 1px 0px lighten($bidStroke, 7%);
	}
}
.list-item {
  border-top: 1px solid rgba(0,0,0, .07);
  border-bottom: 0;
  @include box-shadow((0 0 0 0 #000));
  display: block;
  margin: 0 8px 0 0;
  text-align: left;
  width: auto;
}
.list-item:nth-of-type(odd) {
  @include box-shadow((inset 0px -20px 26px -10px rgba(0,0,0, .04))); 
}
/* FALLBACK: first-of-type, NOT DONE */
.list-item:first-of-type {
  border-top: 1px solid #d1d1d1;
  @include box-shadow((0px 0px 0px 0px #000));//Get rid of box-shadow
}
/* FALLBACK: last-of-type, NOT DONE */
.list-item:last-of-type {
  border-bottom: 1px solid #d1d1d1;
}
.list-item * {
  display: inline-block;
  padding: 0;
}
.list-item .item_name {
	display: inline-block;
	height: auto;
	padding-left: 6px;
  width: 37%;
}
.list-item .retail {
  width: 12%;
}
.list-item .retail span {
  display: none;
}
.list-item img {
  display: none;
}
.list-item .end_time {
  background: none;
  @include box-shadow((0px 0px 0px 0px rgba(0,0,0, 0)));
  color: #444;
  font-size: 1em;
  letter-spacing: .07em;
  width: 13%;
  
  &:before {
    height: 0px;
  }
}
.list-item .price {
	color: #444;
	font-size: 1.03em;
	font-weight: normal;
  letter-spacing: .06em;
	margin-left: 12%; // Width of self
	margin-top: 0px;
	width: 12%;
}
.list-item .highest_bidder {
  margin-left: -24%; // Twice width of .list-item .price (negative)
  width: 12%;
}
.list-item .bid_container {
  margin-left: 12%;
  text-align: right;
  width: 10%;
}
.list-item .button_bid {
  font-size: .95em;
  letter-spacing: .09em;
  margin: 4px 0 6px 0; // Margin-left is width of .list-item .price
  padding: 2px 0 3px 0;
  width: 46px;
}
.list-item.title-bar {
  display: block;
}
.title-bar {
  background: #f7f7f7;
  display: none;
}
.title-bar .item_name,
.title-bar .retail,
.title-bar .end_time,
.title-bar .highest_bidder,
.title-bar .price,
.single-item .action span {
  color: #999;
  font-size: .8em;
  font-weight: normal;
  letter-spacing: 0em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 4px 0 3px 3px;
  top: auto;
}
.title-bar .item_name {
  padding-left: 6px;
}
.single-item {
  background: #fff;
  border: 1px solid #d1d1d1;
  text-align: left;
  width: auto;
  display: block;
}
.single-item a {
  color: $links;
  font-size: .84em;
  text-decoration: none;
}
.single-item .info,
.single-item .images,
.single-item .actions {
  border: 1px solid red;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  width: 33%;
}
.single-item .item_name,
.single-item .retail,
.single-item .item_description {
/*  margin-left: 12px;*/
} 
.single-item .item_name {
  font-size: 1.1em;
}
single-item .retail {
  color: #999;
  font-size: .84em;
}
.single-item .item_description {
  color: #777;
  font-size: .84em;
}
.single-item .item_description a {
  display: block;
  font-size: 1em;
}
.single-item img,
.single-item .view_more {
  top: 0px;
}
.single-item .view_more {
  color: #999;
  line-height: .9em;
}
.single-item .price,
.single-item .end_time,
.single-item .highest_bidder {
  @include background1;
  @include box-shadow((inset 0px -1px 0px 0px rgba(0,0,0, .0)));
	padding: 4px 0;
}
.single-item .button_bid {
  font-size: 1.1em;
  padding: 3px 0;
  margin: 0;
}
.single-item .fine_print {
  color: #999;
  font-size: .6em;
}
@media screen and (max-width: 853px) {
  .list-item .retail {
    display: none;
  }
  //Adjust widths accordingly.
}