.filter-bar {
  margin: 0 8px 12px 0;
}
.filters {
  backround: #fdfdfd;
  border: 1px solid #d1d1d1;
  prefix(border-radius, 3px);
  box-shadow: inset 0px 3px 0px 0px rgba(255,255,255, .6);
  padding: 15px 0;
  position: relative;
}
.filters #search input[type=text] {
  background: transparent url(search-icon.png) no-repeat 4px 2px;
  border: 0;
  prefix(border-radius, 9px);
  font-size: .67em;
  margin: -10px 6px 0 0;
  padding: 2px 0px 3px 25px;
  position: absolute;
  right: -5px;
  transition(width ease 1s);
  width: 0;
  
  &:hover {
    background-color: #fff;
    border: 1px solid #D1D1D1;
    padding-left: 20px;
    right: 0;
    width: 180px;
  }
}
.filters #search input[type=submit] {
  display: none;
}
/* NOT DONE: fallback images*/
.gridded,
.gridded:before,
.gridded:after,
.listed,
.listed:before,
.listed:after{
  background: #fff;
  border: 1px solid #b4b4b4;
  height: 6px;
  position: absolute;
  width: 6px;
}
.gridded,
.listed {
  background: none;
  border-color: transparent;
  height: 16px;
  left: 12px;
  top: 8px;
  width: 16px;
  
  &:before,
  &:after {
    content: "";
    height: 4px;
    left: 0px;
    top: -10px;
    width: 4px;
    box-shadow:
      0px 8px 0px -2px #fff,
      0px 8px 0px -1px rgba(0,0,0, .05),
      0px 8px 0px -1px #fff,
      0px 8px 0px 0px #b4b4b4,
      inset 0px 0px 0px 1px rgba(0,0,0, .05);
  }
  &:after {
    left: 8px;
  }
  &:hover:before,
  &:hover:after {
    background: #fff;
    border-color: lighten($links, 15%);
    box-shadow:
      0px 8px 0px -2px #fff,
      0px 8px 0px -1px rgba(62,159,178, .5),
      0px 8px 0px -1px #fff,
      0px 8px 0px 0px lighten($links, 15%),
      0px 8px 2px 0px rgba(0,0,0, .2),
      inset 0px 0px 0px 1px rgba(62,159,178, .5),
      0px 0px 2px 0px rgba(0,0,0, .2);
  }
}
.gridded:before,
.gridded:after {
  top: -1px;
}
.listed {
  left: 38px;
  
  &:before,
  &:after {
    background: #c9c9c9;
    border-color: transparent;
    content: "";
    height: 0px;
    left: -2px;
    top: -1px;
    width: 14px;
    box-shadow:
      0px 8px 0px 0px #c9c9c9,
      0px 1px 0px 0px #fff,
      0px 9px 0px 0px #fff;
  }
  &:after {
    top: 3px;
  }
  &:hover:before,
  &:hover:after {
    background: lighten($links, 15%);
    box-shadow:
      0px 8px 0px 0px lighten($links, 15%),
      0px 8px 2px 0px rgba(0,0,0, .1),
      0px 0px 2px 0px rgba(0,0,0, .1);
  }
}
#new_auction {
	float: right;
}