* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	position: relative;
}
body {
  background: rgba(0,0,0, .02);
  color: #333;
  font-family: Calibri, Helvetica, sans-serif;
  line-height: 18px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}
#notice {
  color: green; 
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.container { 
/*border: 1px solid green;*/
	margin: 0 auto;
	max-width: 1018px;
}
.sidebar {
/*border: 1px solid green;*/
/*	padding: 0 30px;*/
	position: fixed;
	width: 240px;
}
.logo {
	background: rgba(0,0,0, .005);
	margin: 0 15px;
	padding:90px;
}
.nav {
  background: $btnBase*1.1;
  border: 1px solid #2e7d8a;
  @include box-shadow((inset  0px 0px 13px 3px rgba(0,0,0, .18),
            					 inset	0px 15px 10px -10px rgba(255,255,255, .1),
            					 inset	0px -15px 0px 0px rgba(0,0,0, .08)));
  padding: 5px 0 9px 0;
  &:before,
  &:after {
    border-top: 10px solid #153236;
    border-left: 10px solid transparent;
    content:"";
    height: 0px;
    left: -1px;
    position: absolute;
    top: 34px;
    width: 0;
  }
  &:after {
    border-top: 10px solid #153236;
    border-right: 10px solid transparent;
    left: 218px;
  }
}
.home,
.about,
.help { 
  color: #fff;
  border: 1px solid transparent;
  font-size: .96em;
  padding: 6px 18px 8px 18px;
  text-decoration: none;  
  text-shadow: 0px 2px 0px ($bidStroke*1.05),
               0px -1px 0px ($bidStroke);
  text-transform: uppercase;
  &:hover {
    font-weight: bold;
  }
}
.home {
  border: 1px solid #2e7d8a;
  @include box-shadow((inset  0px 0px 13px 3px rgba(0,0,0, .10),
            					 inset	0px 15px 10px -10px rgba(255,255,255, .1),
            					 inset	0px -30px 0px 0px rgba(0,0,0, .08)));
  font-weight: bold;
}
.user_functions {
  background:  #fff;
  border: 1px solid #d1d1d1;
  @include box-shadow((inset 0px 3px 0px 0px rgba(0,0,0, .04)));
  margin: 0 10px;
  padding: 0 20px;
}
.user_functions input {
	@include prefix(border-radius, 2px);
	display: block;
	margin: 8px 0;
}
.user_functions input[type=text],
.user_functions input[type=password] {
	border: 1px solid #d1d1d1;
	padding: 4px;
	width: 180px;
	&:focus {
		border: 1px solid $bidStroke;
		@include box-shadow((inset 0px 0px 3px 0px $btnBase));
		outline: 0;
	}
}
.user_functions input[type=button],
.user_functions input[type=submit] {
  background: none;
	border: none;
	color: rgba(0,0,0, .5);
	font-size: .75em;
	padding: 5px;
}
.user_fuctions_decor {
    border-left: 105px solid transparent;
    border-right: 105px solid transparent;
    border-top: 28px solid red;
    height: 0;
    width: 0;
}
.content {
	margin-left: 240px + 12px;
	margin-top: 20px;
}
#new_auction {
	float: right;
}