* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
	position: relative;
}
body {
  background: rgba(0,0,0, .02);
  color: #333;
  font-family: Calibri, Helvetica, sans-serif;
  line-height: 18px;
  max-width: 1204px;
  margin: 0 auto;
  padding: 0 20px;
}
#notice {
  color: green; 
}
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
.container { 
/*border: 1px solid green;*/
	margin: 0 auto;
	max-width: 930px;
}
.sidebar {
/*border: 1px solid green;*/
/*	padding: 0 30px;*/
	position: fixed;
	width: 236px; /*236*/
}
.logo {
	background: rgba(0,0,0, .005);
	margin: 0 15px;
	padding:90px;
}
.nav {
  background: lighten($btnBase, 6%);
  border: 1px solid #2e7d8a;
  box-shadow:
    inset  0px 0px 13px 3px rgba(0,0,0, .18),
    inset	0px 15px 10px -10px rgba(255,255,255, .1),
    inset	0px -15px 0px 0px rgba(0,0,0, .08),
    0px 2px 0px 0px #1B5A64;
  margin: 0 3px;
  
  &:before,
  &:after {
    border-top: 10px solid #133D42;
    border-left: 10px solid transparent;
    content:"";
    height: 0;
    left: -1px;
    position: absolute;
    top: 35px;
    width: 0;
  }
  &:after {
    border-top: 10px solid #153236;
    border-right: 10px solid transparent;
    left: auto;
    right: 0px;
  }
}
.nav a { 
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  font-size: .96em;
  padding: 6px 0;
  text-align: center;
  text-decoration: none;  
  text-shadow: 
    0px 2px 0px lighten($bidStroke, 1%),
    0px -1px 0px $bidStroke;
  text-transform: uppercase;
  width: 76px;/*76*/
  
  &:hover,
  &:focus,
  &:active {
    border-left-color: #2e7d8a;
    border-right-color: #237d8a;
    box-shadow:
      inset 0px 1px 1px 0px rgba(255,255,255, .1),
      inset 0px 4px 1px 2px rgba(255,255,255, .05),
      inset	0px -30px 0px 0px rgba(255,255,255, .07),
      0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    outline: 0;
    text-shadow:
      0px 1px 0px lighten($bidStroke, 1%),
      0px -1px 0px $bidStroke;
  }
  &:active {
    border: 1px solid #2e7d8a;
    box-shadow:
      inset 0px 0px 13px 3px rgba(0,0,0, .05),
      inset	0px 15px 10px -10px rgba(255,255,255, .04),
      inset	0px -30px 0px 0px rgba(0,0,0, .04),
      inset 0px 2px 4px 0px rgba(46,125,138, .8);
  }
}
.user_functions {
  background: #fdfdfd;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 3px 0px 0px rgba(0,0,0, .04);
  margin: 0 12px;
  padding: 12px 20px;
  position: relative;
  top: 2px;
  
  &:before {
    background: url(sidebar-butt.png) no-repeat;
    bottom: -33px;
    content: "";
    height: 33px;
    left: 0;
    position: absolute;
    width: 210px;
  }
}
.user_functions input {
	border-radius: 2px;
	display: block;
	font: inherit;
}
.user_functions a {
  color: $links;
  font-size: .75em;
  text-decoration: none;
  
  &:hover,
  &:focus {
    color: lighten($links, 6%);
    text-decoration: underline;
  }
}
input[type=text],
input[type=password],
.filters #search input[type=text] {
	border: 1px solid #d1d1d1;
	color: #333;
	font-size: .75em;
	margin: 0 0 12px 0;
	padding: 4px 2px 2px 6px;
	width: 170px;
	
	&:focus {
	  border-color: lighten($links, 60%);
		box-shadow: 0px 0px 3px 1px $btnBase;
		outline: 0;
	}
	&.error {
	  border: 1px solid darken(#eaafaf, 12%);
	  box-shadow: 0px 0px 4px 0px #d14b4b;
	}
}
.user_functions input[type=button],
.user_functions input[type=submit] {
  background: #fafafa;
	border: 1px solid #d1d1d1;
  border-radius: 3px;
  bottom: -6px;
  box-shadow:
    inset 0px -14px 10px -10px rgba(0,0,0, .075),
    inset 0px 3px 0px 0px rgba(255,255,255, .6);
	color: rgba(0,0,0, .6);
	cursor: pointer;
	font-size: .9em;
	padding: 3px 10px;
	position: absolute;
	right: 0;
	text-shadow: 0px 1px 0px #fff;
	
  &:focus,
  &:hover {
  	color: rgba(0,0,0, .55);
  	border: 1px solid #c6c6c6;
    box-shadow:
      inset 0px -18px 12px -10px rgba(0,0,0, .09),
      inset 0px -1px 0px 0px rgba(0,0,0, .05),
      inset 0px -3px 0px 0px rgba(255,255,255, .3),
      inset 0px 3px 0px 0px rgba(255,255,255, .1);
    text-shadow: 0px 2px 0px rgba(255,255,255, .7);
  }
  &:active {
    box-shadow:
      inset 0px 14px 8px -8px rgba(0,0,0, .075),
      inset 0px -1px 0px 0px rgba(0,0,0, .1),
      inset 0px -3px 0px 0px rgba(255,255,255, 1),
      inset 0px 3px 0px 0px rgba(255,255,255, .6);
    text-shadow: 0px -1px 0px #fff;
  }
}
.content {
	margin-left: 240px + 12px;
	margin-top: 12px;
}